

.heroSection{
 display: flex;
 justify-content: space-between;
 align-items: center;
 min-height: 95vh;
 
}

@media (min-width: 801px) and (max-width: 1440px){
    .heroSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
       
       
    }
}


@media (min-width: 365px) and (max-width: 800px){
  
    .heroSection{
        width: 100%;
    }
 
}

