

.heroSection{
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-height: 95vh;
 
}



@media (min-width: 365px) and (max-width: 800px){
  
    .heroSection{
        width: 100%;
    }
 
}