
.newsSection{
    margin-left: 60px;
}

.wrapper_news_title{
    font-size: 2rem;
}
.card_wrapper{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    overflow-y: auto; 
    height: 78vh;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 1rem; /* margine per la prima card */
      overflow-x: hidden  ;
scrollbar-width: none;   
  -ms-overflow-style: none; 
}

.card_wrapper::-webkit-scrollbar {
  display: none; 
}

.img_container{
    width: 50%;
}
.card-news{
    width: 300px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid#CCCCCC;
    border-radius: 8px;
    padding: 1rem;
    background-color: #FFF7E6;
}
.news_context{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 1rem;
}
.news_context p{
    color: #FF6B35;
}
.card-news img{
    max-width:100% ;
}


@media (min-width: 801px) and (max-width: 1200px){
  .newsSection{
  height: 40vh;
  width: 95%;
  padding: 0;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  margin: 0 ;
 
  
  }
    .card_wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: auto;   /* abilita scroll */
    overflow-y: hidden; /* evita scroll verticale */
    width: 100%;        /* prende tutta la larghezza disponibile */
    gap: 1rem;          /* spazio tra card */
    padding: 0;
    height: auto;
  }

  .card-news {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;     /* impedisce di ridursi */
    width:200px ;       /* larghezza fissa */
    height: 350px;
    padding: 1rem;
  }
  .img_container{
    width: 100%;
  }
  .card-news img {
    width: 100%;

  }
    .card-news h3{
        font-size: 1.1rem;
    }
}


@media (min-width: 365px) and (max-width: 800px){
  
    .newsSection{
        display: none;
    }
 
}