

.oroscope_section{
    width: 400px;
}
.oroscope_wrapper{
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 400px;
  
}

.oroscope_card{
    border: 2px solid black;
    max-width: 300px;
    border-radius: 14px;
    padding: 2rem;
}