

.oroscope_section{
    width: 400px;
    margin-right: 50px;
}
.oroscope_wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 78vh;           /* altezza piena schermo */
  overflow-y: auto;        /* scroll verticale */
  padding: 1rem;
  box-sizing: border-box;
scrollbar-width: none;   
  -ms-overflow-style: none; 
}

.oroscope_wrapper::-webkit-scrollbar {
  display: none; 
}

.oroscope_card {
  border: 2px solid #CCCCCC;
  border-radius: 14px;
  padding: 1rem;
  height: calc((100vh - 2rem - (14px * 2)) / 3); 
  box-sizing: border-box;
  background-color: #F3E6FF;
}
.oroscope_card h2{
    color: #9B5DE5;
    font-size: 1.6rem;
}

@media (min-width: 801px) and (max-width: 1440px){
  .oroscope_section{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;
  }
    .oroscope_wrapper {
    display: flex;
    height: auto;
    flex-direction: row;
    overflow-x: auto;   /* abilita scroll */
    overflow-y: hidden; /* evita scroll verticale */
    width: 100%;        /* prende tutta la larghezza disponibile */
    gap: 1rem;          /* spazio tra card */
  }

  .oroscope_card {
    flex-shrink: 0;     /* impedisce di ridursi */
    width: 250px;       /* larghezza fissa */
    height: 500px;
    padding: 1rem;
    font-size: 1.2rem;
  }
}


@media (min-width: 365px) and (max-width: 800px){
  
    .oroscope_section{
        display: none;
    }
 
}